@use "./styles/globals.scss" as globals;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Noto Sans", sans-serif;
}

:root {
  font-size: #{globals.$PX_SIZE}px;
}

body {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

ul, ol {
  li {
    all: unset;
  }
}

fieldset {
  all: unset;

  legend {
    all: unset;
  }
}

footer {
  margin-top: auto;
}

main {
  min-height: 100dvh;
}

.center {
  width: 70%;
  max-width: 1320px;
  margin: auto;

  @media screen and (max-width: 1500px) {
    width: 80%;
  }

  @media screen and (max-width: 1320px) {
    width: 93%;
  }
}

input {
  all: unset;
}

%primary_button {
  padding: globals.pxToRem(20) globals.pxToRem(30);
  background: #1E9BEA;
  border-radius: globals.pxToRem(5);
  color: white;
  transition: background 0.2s ease-in-out;
  @include globals.font(30, 35);

  &:enabled:hover {
    background: #0076FD;
  }
}
